@font-face {
  font-family: "Helios";
  src: url("/static/fonts/Helios-Light.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono-Light.ttf");
}

.monospace {
  font-family: "JetBrains Mono" !important;
}

body {
  font-family: "Helios";
  min-height: 100vh;
  max-height: 100vh;
}

#root {
  display: flex;
  flex-wrap: nowrap;
  align-content: start;
  overflow: auto;
  height: 100vh;
  max-height: 100vh;
}

@media (max-width: 768px) {
  #root {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
}

@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    height: fit-content;
  }
}

#filetree {
  overflow: auto !important;
}

#filetree ul {
  list-style-type: none;
  overflow-x: visible;
  width: fit-content;
}

#filetree ul > li {
  overflow-x: visible;
  width: fit-content;
}

#filetree ul > li > div {
  display: flex;
  white-space: nowrap;
  width: fit-content;
}

#filetree ul > li > div > button > i.bi {
  display: inline-block;
  transition: transform 0.3s ease;
}

#filetree > ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: auto;
  overflow: visible;
  margin: 0;
  padding: 0;
}

.no-text-highlight {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.btn-modal {
  background-color: var(--bs-secondary-bg) !important;
}

.btn-sidebar {
  background-color: var(--bs-body-bg);
  border: none !important;
}

.btn-sidebar .dropdown-toggle:not(.collapsed) {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}

.btn-sidebar:not(:disabled):hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.3);
}

.btn-sidebar:disabled {
  background-color: var(--bs-secondary-bg) !important;
  opacity: inherit !important;
}

#resolutionOptions > .form-check > button.deleteResolution {
  display: none !important;
  overflow-x: hidden;
  width: 0 !important;
  transition: width 3s;
}

#resolutionOptions > .form-check:hover > button.deleteResolution {
  display: inline-block !important;
  width: fit-content !important;
}

#resolutionOptions > .form-check:hover .resolution-icon {
  display: none !important;
}

#resolutionOptions > .form-check:hover .resolution-erase {
  display: block !important;
}

#resolutionOptions > .form-check .resolution-icon {
  display: block !important;
}

#resolutionOptions > .form-check .resolution-erase {
  display: none !important;
}

#resolutionControls:hover #addResolutionCollapse {
  display: flex !important;
}

#resolutionDropdown, #webDriversDropdown, #themesDropdown {
  padding: 0;
  border: none;
  min-width: 275px;
  overflow: hidden;
}

#themesDropdown {
  min-width: 150px;
}

#resolutionDropdown li.dropdown-item > .resolution-item {
  width: 275px;
}

.resolution-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg);
  border: none;
  cursor: pointer;
}

.resolution-item:hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.3);
}

.resolution-item > * {
  padding: .5rem 1rem .5rem 1rem;
  border: 0;
  cursor: pointer;
}

.accented:hover {
  color: var(--bs-light) !important;
  background-color: rgba(var(--bs-primary-rgb), 0.7) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].no-arrows {
  -moz-appearance: textfield;
}

.dropdown-item:hover, .dropdown-item:active {
  background: none;
}

.topdrop-menu {
  border: none !important;
  border-radius: var(--bs-border-radius);
  padding: .5rem 0 !important;
  margin-top: 1rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.topdrop-menu .topdrop-button {
  display: flex;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 0 1rem;
}

.topdrop-menu .topdrop-button:hover {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.3);
}

.topdrop-menu .topdrop-button > .resolution-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 275px;
  padding: .5rem 0;
}

.topdrop-menu .topdrop-button .resolution-actions {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 1.5rem;
  padding-left: 1rem;
  border-radius: 0;
  border-left: 1px var(--bs-secondary-bg) solid;
}

.cursor-default {
  cursor: default !important;
}
