
@font-face {
    font-family: "Helios";
    src: url("/static/fonts/Helios-Light.ttf");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/static/fonts/JetBrainsMono-Light.ttf");
}

.monospace {
    font-family: "JetBrains Mono" !important;
}

body {
    font-family: "Helios";
    min-height: 100vh;
    max-height: 100vh;
}

#root {
    display: flex;
    flex-wrap: nowrap;
    align-content: start;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 300px;
}

#filetree {
    overflow: auto !important;
}

/* #filetree li.filetree-item {
    height: 36px;
    display: flex;
    align-items: center;
}

#filetree li.filetree-item:hover {
    background-color: var(--bs-body-bg) !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
} */

#filetree ul {
    list-style-type: none;    
    overflow-x: visible;
    width: fit-content;
}

#filetree ul > li {
    overflow-x: visible;
    width: fit-content;
}

#filetree ul > li > div {
    display: flex;
    white-space: nowrap;
    width: fit-content;
}

#filetree > ul {
    margin: 0;
    padding: 0;
    overflow: visible ;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    width: fit-content;
}

#filetree ul > li > div > button > i.bi {
    display: inline-block;
    transition: transform 0.3s ease;
}

/* 

.filetree-item a, .filetree-item div {
    color: var(--bs-body-color);
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filetree-item a i.bi, .filetree-item div i.bi {
    transition: transform 0.3s ease;
}
*/

.no-text-highlight {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media (max-width: 768px) {
    #root {
        flex-wrap: wrap;
        flex-direction: row;
    }

    #sidebar {
        width: 100%;
        height: fit-content;
    }
}

.btn-modal {
    background-color: var(--bs-secondary-bg) !important;
}

.btn-sidebar {
    background-color: var(--bs-body-bg) !important;
    border: none !important;
}

.btn-sidebar.dropdown-toggle:not(.collapsed) {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.btn-sidebar:not(:disabled):hover {
    background-color: rgba(var(--bs-secondary-bg-rgb), 0.3) !important;
}

.btn-sidebar:disabled {
    background-color: var(--bs-secondary-bg) !important;
    opacity: inherit !important;
}

.sidebar-container {
    /* background-color: var(--bs-body-bg) !important; */
}

.sidebar-container.disabled {
    background-color: var(--bs-secondary-bg) !important;
}

/* #resultArea {
    display: flex !important;
    flex-wrap: wrap;
}

#resultArea > div {
    height: fit-content;
} */

#resolutionOptions > .form-check > button.deleteResolution {
    display: none !important;
    overflow-x: hidden;
    width: 0 !important;
    transition: width 3s;
} 

#resolutionOptions > .form-check:hover > button.deleteResolution {
    display: inline-block !important;
    width: fit-content !important;
} 

#resolutionControls:hover #addResolutionCollapse {
    display: flex !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

#resolutionOptions > .form-check .resolution-icon {
    display: block !important;
}

#resolutionOptions > .form-check:hover .resolution-icon {
    display: none !important;
}

#resolutionOptions > .form-check .resolution-erase {
    display: none !important;
}

#resolutionOptions > .form-check:hover .resolution-erase {
    display: block !important;
}

.btn-sidebar:hover {
    color: var(--bs-emphasis-color);
}