<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scalorize | Detect mobile scaling problems before production</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo-alt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="root">
        <div class="p-3 bg-body-tertiary border-end" id="sidebar">

            <!-- Branding -->
            <a href="/" class="w-100" id="brand">
                <img src="{{ url_for('static', filename='images/logo-title.png') }}" alt="product logo" height="35">
            </a>

            <hr>

            <form id="searchForm">
                <div class="input-group mb-3">
                    <input class="form-control" type="search" name="search" id="search" placeholder="https://example.com">
                    <button type="submit" class="btn btn-sidebar border border-start-0 rounded-start-0" id="searchBtn">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="d-flex">
                        <button type="button" id="btnResolutions" class="btn btn-sidebar border dropdown-toggle me-2 mb-3 collapsed" data-bs-toggle="collapse" data-bs-target="#searchOptions">
                            <i class="bi bi-sliders2-vertical"></i>
                        </button>
                        <button type="button" class="btn btn-sidebar border mb-3 me-2" data-bs-toggle="modal" data-bs-target="#optionsModal">
                            <i class="bi bi-gear"></i>
                        </button>
                    </div>
                    <div class="d-flex">
                        <button type="button" id="btnExpandAll" class="btn btn-sidebar border mb-3 me-2">
                            <i class="bi bi-chevron-double-down"></i>
                        </button>
                        <button type="button" id="btnCollapseAll" class="btn btn-sidebar border mb-3">
                            <i class="bi bi-chevron-double-up"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Drivers Dropdown -->
            <div id="searchOptions" class="collapse">
                <div id="driversOptions" class="sidebar-container mb-3 border w-100 rounded px-4 py-3">

                    <h3 class="h6 mb-0 d-flex justify-content-between">
                        <span class="small">
                            WebDrivers
                        </span>
                        <i class="bi bi-info-circle text-info-emphasis" data-bs-toggle="tooltip" data-bs-title="Choose your preferred browser for automated control" data-bs-placement="bottom"></i>
                    </h3>
                    <hr>

                    <div class="form-check d-flex align-items-center pb-1">
                        <label for="driver-chrome" class="form-check-label d-flex flex-grow-1 justify-content-between">
                            <input type="radio" id="driver-chrome" class="ps-0 form-check-input mb-1" name="drivers" value="chrome">
                            <span class="small">Chrome</span>
                            <i class="bi bi-browser-chrome text-body-secondary"></i>
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center pb-1">
                        <label for="driver-firefox" class="form-check-label d-flex flex-grow-1 justify-content-between">
                            <input type="radio" id="driver-firefox" class="ps-0 form-check-input mb-1" name="drivers" value="firefox">
                            <span class="small">Firefox</span>
                            <i class="bi bi-browser-firefox text-body-secondary"></i>
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center pb-1">
                        <label for="driver-edge" class="form-check-label d-flex flex-grow-1 justify-content-between">
                            <input type="radio" id="driver-edge" class="ps-0 form-check-input mb-1" name="drivers" value="edge">
                            <span class="small">Edge</span>
                            <i class="bi bi-browser-edge text-body-secondary"></i>
                        </label>
                    </div>

                    <div id="resolutionOptions" class="mt-4">
                        <h3 class="h6 mb-0 d-flex justify-content-between">
                            <span class="small">
                                Resolutions
                            </span>
                            <span>
                                <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-title="Add new resolution" data-bs-placement="bottom">
                                    <i class="bi bi-plus-circle text-success-emphasis" role="button" data-bs-toggle="modal" data-bs-target="#resolutionModal"></i>
                                </span>
                                <i class="bi bi-info-circle text-info-emphasis ms-1" data-bs-toggle="tooltip" data-bs-title="Select your desired screen resolutions for the webdriver" data-bs-placement="bottom"></i>
                            </span>
                        </h3>
                        <hr>
                    </div>
                </div>

                <!-- Add Resolution Controls -->
                <!-- <form id="addResolutionForm" class="d-flex mb-3">
                    <div class="input-group input-group-sm monospace">
                        <input type="number" id="addResolutionWidth" class="form-control border-end-0 text-end" name="addResolutionWidth" placeholder="width" required>
                        <div class="bg-body text-center px-0 border-top border-bottom d-flex align-items-center">
                            <i class="bi bi-x my-auto"></i>
                        </div>
                        <input type="number" id="addResolutionHeight" class="form-control border-start-0" name="addResolutionHeight" placeholder="height" required>
                    </div>
                    <button type="submit" id="addResolution" class="btn btn-sm ms-3 btn-sidebar border">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </form> -->
            </div>

            <!-- Filetree -->
            <div id="filetree" class="pb-3">
                <ul></ul>
            </div>
        </div>

        <!-- Image Results Area -->
        <div class="d-flex flex-grow-1 flex-column overflow-y-auto p-4">
            <div id="resultArea" class="row g-4">
                <div class="col-xxl-3 col-lg-4 col-sm-6"></div>
                <div class="col-xxl-3 col-lg-4 col-sm-6"></div>
                <div class="col-xxl-3 col-lg-4 col-sm-6"></div>
                <div class="col-xxl-3 col-lg-4 col-sm-6"></div>
            </div>
        </div>

        <!-- toast container -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast" id="taskToast">
                <div class="toast-header">
                    <i class="browser-icon"></i>
                    <strong class="ms-2 me-auto task-domain"></strong>
                    <span class="timer"></span>
                    <!-- <button type="button" class="btn btn-sm ms-1" data-bs-dismiss="toast">
                        <i class="bi bi-trash3"></i>
                    </button> -->
                </div>
                <div class="toast-body">
                    <ol class="breadcrumb mb-0"></ol>
                </div>
            </div>
        </div>

        <div id="resolutionModal" class="modal fade" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-body-tertiary">
                    <div class="modal-body">
                        <div class="row g-4 mb-4 mt-2 justify-content-center">
                            <form id="addResolutionForm" class="d-flex mb-3 col-md-7">
                                <div class="input-group monospace">
                                    <input type="number" id="addResolutionWidth" class="form-control border-end-0 text-end" name="addResolutionWidth" placeholder="width" required>
                                    <div class="bg-body text-center px-0 border-top border-bottom d-flex align-items-center">
                                        <i class="bi bi-x my-auto"></i>
                                    </div>
                                    <input type="number" id="addResolutionHeight" class="form-control border-start-0" name="addResolutionHeight" placeholder="height" required>
                                </div>
                                <button type="submit" id="addResolution" class="btn ms-3 btn-sidebar border">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer mt-1 border-0 justify-content-center">
                        <button type="button" class="btn btn-sidebar border" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="optionsModal" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-body-tertiary">
                    <div class="modal-body">

                        <div class="row g-4 mb-4 mt-2">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-useDarkMode" id="option-useDarkMode" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-useDarkMode" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-moon-stars"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Use Dark Mode</span>
                                        <br>
                                        <small class="text-body-secondary">Use darker colours for this application.</small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4 mb-4">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-fullScreenshot" id="option-fullScreenshot" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-fullScreenshot" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-arrows-fullscreen"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Full Page Screenshot</span>
                                        <br>
                                        <small class="text-body-secondary">Screenshots will cover the entire page height based on the provided resolutions.</small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4 justify-content-end mb-4">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-saveToDisk" id="option-saveToDisk" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-saveToDisk" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-hdd"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Memory Mode</span>
                                        <br>
                                        <small class="text-body-secondary">Instead of saving images to disk, they will be held in memory. Avoiding IO operations could improve speed but <span class="text-warning"> will increase memory usage</span>.</small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-allowForeignDomains" id="option-allowForeignDomains" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-allowForeignDomains" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-pc-display"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Block Foreign Domains</span>
                                        <br>
                                        <small class="text-body-secondary">Prevent the Scraper from capturing screenshots of foreign domains. This can happen during page redirects.</small>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-1 border-0 justify-content-center">
                        <button type="button" class="btn btn-sidebar border" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        const logo = "{{ url_for('static', filename='images/logo-title.png') }}";
        const logoAlt = "{{ url_for('static', filename='images/logo-title-alt.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/options.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>