<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scalor | Detect mobile scaling problems before production</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo-alt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div id="root">
        <div class="bg-body-tertiary shadow overflow-auto" id="sidebar">

            <!-- Branding -->
             <div class="bg-body-secondary shadow-sm text-center mb-3 px-4 py-3">
                <a href="/" id="brand" class="w-100">
                    <img src="{{ url_for('static', filename='images/logo-text.png') }}" alt="product logo" height="45">
                </a>
            </div>

            <!--
            <form id="searchForm" class="p-4 pb-0">
                <div class="input-group mb-4 shadow-sm rounded">
                    <input class="form-control border-0" type="search" name="search" id="search" placeholder="https://example.com">
                    <button type="submit" class="btn btn-sidebar rounded-start-0" id="searchBtn">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="d-flex btn-group me-3 shadow-sm mb-4">
                        <button type="button" id="btnResolutions" class="btn btn-sidebar dropdown-toggle rounded-end-0 collapsed" data-bs-toggle="collapse" data-bs-target="#searchOptions">
                            <i class="bi bi-sliders2-vertical"></i>
                        </button>
                        <button type="button" class="btn btn-sidebar" data-bs-toggle="modal" data-bs-target="#optionsModal">
                            <i class="bi bi-gear"></i>
                        </button>
                    </div>
                    <div class="d-flex mb-4 btn-group">
                        <button type="button" id="btnSortFiletree" class="btn btn-sidebar shadow-sm">
                            <i class="bi bi-sort-alpha-up"></i>
                        </button>
                        <button type="button" id="btnListView" class="btn btn-sidebar shadow-sm">
                            <i class="bi bi-list"></i>
                        </button>
                        <button type="button" id="btnCollapseAll" class="btn btn-sidebar shadow-sm">
                            <i class="bi bi-chevron-double-down"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div id="searchOptions" class="collapse p-4 pt-2">
                <div id="driversOptions" class="sidebar-container overflow-auto w-100 px-2 pb-3">

                    <h3 class="h5 mb-4 d-flex justify-content-between">
                        <span class="small">
                            <span class="pe-4">Drivers</span>
                        </span>
                        <span class="small">
                            <i class="bi bi-info-circle text-info" data-bs-toggle="tooltip" data-bs-title="Choose your preferred browser for automated control" data-bs-placement="bottom"></i>
                        </span>
                    </h3>

                    <div class="form-check d-flex align-items-center pb-1">
                        <label for="driver-chrome" class="form-check-label d-flex flex-grow-1 justify-content-between fs-5 ps-2">
                            <input type="radio" id="driver-chrome" class="form-check-input mb-1" name="drivers" value="chrome">
                            <span class="fs-6">Chrome</span>
                            <i class="bi bi-browser-chrome text-body-secondary"></i>
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center pb-1">
                        <label for="driver-firefox" class="form-check-label d-flex flex-grow-1 justify-content-between fs-5 ps-2">
                            <input type="radio" id="driver-firefox" class="form-check-input mb-1" name="drivers" value="firefox">
                            <span class="fs-6">Firefox</span>
                            <i class="bi bi-browser-firefox text-body-secondary"></i>
                        </label>
                    </div>
                    <div class="form-check d-flex align-items-center pb-1">
                        <label for="driver-safari" class="form-check-label d-flex flex-grow-1 justify-content-between fs-5 ps-2">
                            <input type="radio" id="driver-safari" class="ps-0 form-check-input mb-1" name="drivers" value="safari">
                            <span class="fs-6">Safari</span>
                            <i class="bi bi-browser-safari text-body-secondary"></i>
                        </label>
                    </div>

                    <div id="resolutionOptions" class="mt-4 pt-3">
                        <h3 class="h5 mb-4 d-flex justify-content-between">
                            <span class="small">
                                <span class="pe-4">Resolutions</span>
                            </span>
                            <span class="small">
                                <i class="bi bi-info-circle text-info ms-1" data-bs-toggle="tooltip" data-bs-title="Select your desired screen resolutions for the webdriver" data-bs-placement="bottom"></i>
                            </span>
                        </h3>
                    </div>
                    <button type="button" class="btn btn-sidebar shadow-sm w-100 mt-4" data-bs-toggle="modal" data-bs-target="#resolutionModal">
                        Add Resolution
                    </button>
                </div>
            </div> -->

            <!-- Filetree -->
            <div id="filetree" class="p-4 pt-0">
                <ul class="pe-3"></ul>
            </div>
        </div>

        <!-- Image Results Area -->
        <div class="d-flex flex-grow-1 flex-column overflow-y-auto position-relative" style="scroll-behavior: smooth; min-height: 300px;">

            <div class="w-100 bg-body-tertiary px-4 d-flex align-items-center shadow-sm position-sticky sticky-top" style="min-height: 77px">
                
                <div class="dropdown">
                    <button id="btnScreenSizes" class="btn btn-sidebar shadow-sm me-3" data-bs-toggle="dropdown">
                        <i class="bi bi-sliders2"></i>
                    </button>
                    <div id="resolutionDropdown" class="dropdown-menu shadow-lg py-2 mt-3 rounded">
                        <ul class="p-0">

                            <!-- <li class="dropdown-item p-0 d-flex">
                                <div class="resolution-item">
                                    <button class="btn">
                                        <input id="resolution_1920x1080" type="checkbox" class="form-check-input">
                                    </button>
                                    <label for="resolution_1920x1080">
                                        1920
                                        <i class="bi bi-x"></i>
                                        1080
                                    </label>
                                    <button class="btn">
                                        <i class="bi bi-pc-display-horizontal"></i>
                                    </button>
                                </div>
                                <div class="resolution-collapse collapse collapse-horizontal bg-body p-0">
                                    <div class="btn-group px-2 d-flex align-items-center">
                                        <button class="sort-resolution-up btn btn-sm btn-sidebar">
                                            <i class="bi bi-chevron-up"></i>
                                        </button>
                                        <button class="sort-resolution-down btn btn-sm btn-sidebar">
                                            <i class="bi bi-chevron-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                             -->

                        </ul>

                        <hr class="text-body-tertiary my-2">
                        <div class="btn-group w-100 px-2">
                            <button id="openNewResolutionCollapse" class="resolution-item btn-sidebar w-50 px-3 py-2 text-body rounded justify-content-center" data-bs-toggle="collapse" data-bs-target="#newResolutionCollapse">
                                New
                            </button>
                            <button id="openSortResolutionCollapse" class="resolution-item btn-sidebar w-50 px-3 py-2 text-body rounded justify-content-center">
                                Sort
                            </button>
                        </div>

                        <div id="newResolutionCollapse" class="collapse">
                            <hr class="my-2 text-body-tertiary">
                            <div class="d-flex px-3 py-1">
                                <div class="input-group me-3">
                                    <input type="number" id="newResolutionWidth" class="form-control text-end border-end-0 no-arrows" placeholder="width">
                                    <span class="border-top border-bottom d-flex align-items-center">
                                        <i class="bi bi-x"></i>
                                    </span>
                                    <input type="number" id="newResolutionHeight" class="form-control border-start-0 no-arrows" placeholder="height">
                                </div>
                                <button id="createNewResolution" class="btn btn-primary">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="input-group shadow-sm rounded me-3">
                    <div class="dropdown">
                        <button id="btnWebDrivers" class="dropdown-toggle btn btn-sidebar rounded-end-0" data-bs-toggle="dropdown">
                            <i class="bi bi-browser-firefox me-1"></i>
                        </button>
                        <ul id="webDriversDropdown" class="dropdown-menu shadow-lg py-2 mt-3 rounded">

                            <li class="dropdown-item resolution-item">
                                <button class="btn">
                                    <input type="radio" name="webdriver" id="driver_chrome" class="form-check-input">
                                </button>
                                <label for="driver_chrome">
                                    Chrome
                                </label>
                                <button class="btn">
                                    <i class="bi bi-browser-chrome"></i>
                                </button>
                            </li>

                            <li class="dropdown-item resolution-item">
                                <button class="btn">
                                    <input type="radio" name="webdriver" id="driver_firefox" class="form-check-input">
                                </button>
                                <label for="driver_firefox">
                                    Firefox
                                </label>
                                <button class="btn">
                                    <i class="bi bi-browser-firefox"></i>
                                </button>
                            </li>

                            <li class="dropdown-item resolution-item">
                                <button class="btn">
                                    <input type="radio" name="webdriver" id="driver_safari" class="form-check-input">
                                </button>
                                <label for="driver_safari">
                                    Safari
                                </label>
                                <button class="btn">
                                    <i class="bi bi-browser-safari"></i>
                                </button>
                            </li>

                        </ul>
                    </div>

                    <input type="search" class="form-control border-0" placeholder="Enter a web address here, then press 'enter' or the search button to get started">
                    <button class="btn btn-sidebar">
                        <i class="bi bi-search"></i>
                    </button>
                </div>

                <button class="btn btn-sidebar shadow-sm me-3" data-bs-toggle="modal" data-bs-target="#optionsModal">
                    <i class="bi bi-gear"></i>
                </button>

                <div class="dropdown">
                    <button class="btn btn-sidebar dropdown-toggle shadow-sm" data-bs-toggle="dropdown">
                        <i class="bi bi-moon-stars me-1"></i>
                    </button>                
                    <ul id="themesDropdown" class="dropdown-menu shadow-lg py-2 mt-3 rounded">

                        <li class="dropdown-item resolution-item accented">
                            <!-- <button class="btn">
                                <input type="radio" name="colourTheme" id="theme_light" class="form-check-input">
                            </button> -->
                            <!-- <label for="theme_light">
                                Light
                            </label> -->
                            <button class="btn">
                                <i class="bi bi-sun mx-2"></i> Light
                            </button>
                        </li>

                        <li class="dropdown-item resolution-item accented">
                            <!-- <button class="btn">
                                <input type="radio" name="colourTheme" id="theme_dark" class="form-check-input">
                            </button> -->
                            <!-- <label for="theme_dark">
                                Dark
                            </label> -->
                            <button class="btn">
                                <i class="bi bi-moon-stars mx-2"></i> Dark
                            </button>
                        </li>

                        <li class="dropdown-item resolution-item accented">
                            <!-- <button class="btn">
                                <input type="radio" name="colourTheme" id="theme_auto" class="form-check-input">
                            </button> -->
                            <!-- <label for="theme_auto">
                                Auto
                            </label> -->
                            <button class="btn">
                                <i class="bi bi-window mx-2"></i> Auto
                            </button>
                        </li>

                    </ul>
                </div>
            </div>

            <div id="resultArea" class="w-100 p-4 pt-0">
            </div>

        </div>

        <!-- toast container -->
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast" id="taskToast">
                <div class="toast-header">
                    <i class="browser-icon"></i>
                    <strong class="ms-2 me-auto task-domain"></strong>
                    <span class="timer"></span>
                    <!-- <button type="button" class="btn btn-sm ms-1" data-bs-dismiss="toast">
                        <i class="bi bi-trash3"></i>
                    </button> -->
                </div>
                <div class="toast-body">
                    <ol class="breadcrumb mb-0"></ol>
                </div>
            </div>
        </div>

        <div id="resolutionModal" class="modal fade" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-body-tertiary">
                    <div class="modal-body">
                        <div class="row g-4 mb-4 mt-2 justify-content-center">
                            <form id="addResolutionForm" class="d-flex mb-3 col-md-7">
                                <div class="input-group monospace">
                                    <input type="number" id="addResolutionWidth" class="form-control border-end-0 text-end" name="addResolutionWidth" placeholder="width" required>
                                    <div class="bg-body text-center px-0 border-top border-bottom d-flex align-items-center">
                                        <i class="bi bi-x my-auto"></i>
                                    </div>
                                    <input type="number" id="addResolutionHeight" class="form-control border-start-0" name="addResolutionHeight" placeholder="height" required>
                                </div>
                                <button type="submit" id="addResolution" class="btn ms-3 btn-sidebar shadow-sm">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer mt-1 border-0 justify-content-center">
                        <button type="button" class="btn btn-sidebar shadow-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="optionsModal" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-body-tertiary">
                    <div class="modal-body">

                        <div class="row g-4 mb-4 mt-2">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-useDarkMode" id="option-useDarkMode" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-useDarkMode" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-moon-stars"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Use Dark Mode</span>
                                        <br>
                                        <small class="text-body-secondary">Use darker colours for this application.</small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4 mb-4 mt-2">
                            <div class="col-2 d-flex justify-content-end align-items-start">
                                <input type="number" name="option-semaphoreLimit" id="option-semaphoreLimit" class="form-control form-control-sm" style="width: 40px" value="10">
                            </div>
                            <div class="col-10">
                                <label for="option-semaphoreLimit" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-lock"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Concurrent Processes Limit</span>
                                        <br>
                                        <small class="text-body-secondary">
                                            The number of concurrent processes/tasks for the web scraper. Higher numbers will increase the output rate, but will increase memory usage significantly.
                                        </small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4 mb-4">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-fullScreenshot" id="option-fullScreenshot" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-fullScreenshot" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-arrows-fullscreen"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Full Page Screenshot</span>
                                        <br>
                                        <small class="text-body-secondary">Screenshots will cover the entire page height based on the provided resolutions.</small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4 justify-content-end mb-4">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-saveToDisk" id="option-saveToDisk" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-saveToDisk" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-hdd"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Memory Mode</span>
                                        <br>
                                        <small class="text-body-secondary">Instead of saving images to disk, they will be held in memory. Avoiding IO operations could improve speed but <span class="text-warning"> will increase memory usage</span>.</small>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row g-4">
                            <div class="col-2 text-end form-switch">
                                <input type="checkbox" name="option-allowForeignDomains" id="option-allowForeignDomains" class="form-check-input">
                            </div>
                            <div class="col-10">
                                <label for="option-allowForeignDomains" class="d-flex flex-row">
                                    <div class="me-3">
                                        <i class="bi bi-pc-display"></i>
                                    </div>
                                    <div>
                                        <span class="text-secondary-emphasis">Block Foreign Domains</span>
                                        <br>
                                        <small class="text-body-secondary">Prevent the Scraper from capturing screenshots of foreign domains. This can happen during page redirects.</small>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-1 border-0 justify-content-center">
                        <button type="button" class="btn btn-sidebar shadow-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        const logo = "{{ url_for('static', filename='images/logo-text.png') }}";
        const logoAlt = "{{ url_for('static', filename='images/logo-text-alt.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/options.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>