<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebShot - Responsive Website Helper</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/spider-white.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body data-bs-theme="light">
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container">
            <a href="/" class="navbar-brand fs-2 d-flex align-items-center me-4 text-uppercase fst-italic font-monospace" id="brand">
                <img src="{{ url_for('static', filename='images/spider.png') }}" alt="WebShot Logo" width="35px" class="me-2">
                WebShot
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav d-flex flex-grow-1 mb-2 mb-lg-0">
                    <li class="nav-item d-flex flex-grow-1">
                        <form class="d-flex flex-grow-1 mt-2 mt-lg-0 mb-3 mb-lg-0" role="search" id="searchForm">
                            <div class="input-group bg-body-tertiary rounded">
                                <input type="search" class="form-control bg-transparent border-0" placeholder="https://example.com">
                                <div class="bg-body-secondary">
                                    <button class="btn btn-body-tertiary rounded-start-0" type="submit">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-body-tertiary ms-0 ms-lg-3" type="button" data-bs-toggle="modal" data-bs-target="#optionsModal">
                            <i class="bi bi-gear"></i>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-body-tertiary ms-0 ms-lg-3" type="button" id="themeBtn">
                            <i class="bi bi-moon-stars"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="mx-4 pt-4 pb-5">
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="px-4 py-3 rounded bg-body-secondary">
                    <nav id="breadcrumbs">
                        <ol class="breadcrumb mb-0 font-monospace fw-semibold">
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 mb-4">
                <div class="p-4 rounded bg-body-secondary">
                    <nav class="filetree">
                        <h3 class="h5">Placeholders</h3>
                        <hr>
                        <ul class="filetree-container"></ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7 mb-4">
                <div class="row" id="outputRow"></div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="optionsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5">Options</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="optionsForm">
                    <div class="modal-body">
                        <label for="resolutions" class="form-label">Resolutions</label>
                        <select name="resolutions" id="resolutions" multiple class="form-select">
                            <option value="1920x1080">1920x1080</option>
                            <option value="1080x1080">1080x1080</option>
                            <option value="360x640">360x640</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
        const lightIconPath = "{{ url_for('static', filename='images/spider.png') }}";
        const darkIconPath = "{{ url_for('static', filename='images/spider-white.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>