<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scalorize | Detect mobile scaling problems before production</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo-alt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
</head>
<body>
    <div id="root">
        <div class="p-3 bg-body-tertiary border-end" id="sidebar">

            <!-- Branding -->
            <a href="/" class="w-100">
                <img src="{{ url_for('static', filename='images/logo-title.png') }}" alt="product logo" height="35">
            </a>

            <hr>

            <!-- File search -->
            <!-- <div class="input-group input-group-sm mb-3">
                <input type="search" name="iletree" id="searchFiletree" class="form-control" placeholder="Search Results">
                <button type="button" class="btn btn-secondary">
                    <i class="bi bi-search"></i>
                </button>
            </div> -->

            <!-- Filetree controls -->
            <!-- <div class="btn-group btn-group-sm mb-3 d-block">
                <button class="btn btn-outline-secondary float-start">
                    <i class="bi bi-chevron-up"></i>
                </button>
                <button class="btn btn-outline-secondary rounded-end-1 float-start">
                    <i class="bi bi-chevron-down"></i>
                </button>
                <button class="btn btn-outline-secondary rounded-start-1 float-end">
                    <i class="bi bi-list"></i>
                </button>
            </div> -->

            <!-- Filetree -->
            <div id="filetree" class="pb-3">
                <ul></ul>
            </div>
        </div>

        <div class="d-flex flex-grow-1 flex-column overflow-y-auto">
            <header class="p-3" id="searchHeader">
                <div class="row">
                    <div class="col-md-4">
                        <form id="searchForm" class="input-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle">
                                <i class="bi bi-browser-chrome"></i>
                            </button>
                            <input type="search" name="search" id="search" class="form-control" placeholder="https://example.com">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </header>
            <div class="p-3">
                <div class="row g-3" id="resultArea">
    
                </div>
            </div>
        </div>


    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/new.js') }}"></script>
</body>
</html>